:root {
    --sidebar_width: 30%;
    --headerbar_height: 55px;
}

.sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: var(--sidebar_width); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fffae2; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    font-size: 1.5em;   
}

.sidebar a {
    text-decoration: none;
    font-size: 3em;
    color: #6a9cc5;
    display: block;
  }

.headerbar {
    background-color: rgb(95, 14, 14);
    text-align: right;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 1;
    top: 0;
    overflow: hidden;
    position: fixed;
    width: 70%;
    margin-left: var(--sidebar_width);
    height: var(--headerbar_height);
    font-size: 2.5em;
}

.headerbar img {
    height: 100%;
    width: 25%;
}

.headerbar a {
    color: #6a9cc5;
    font-size: 1em;
}

.maincontent{
    margin-left: var(--sidebar_width);
    margin-top: var(--headerbar_height);
    background-color: #ffffffd8;
}

h1 {
    font-size: 3em;
}

img {
    width: 95%;
    height: 98%;
}